#startpage {
    background-image: url('../images/moviescreen.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#webpage-title-start {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    color: white;
	text-shadow: 0 0 10px #FFFFFF;
	text-align: center;
	font-size: 90pt;
	padding-top: 30vh;
    width: 100vw;
}

.startpageBtn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#signup {
    background-color: #ffdf80;
}

#login {
    background-color: #ff80bf;
}

#browse {
    background-color: #8ed958;
}