#signuppage {
    background-image: url(../images/gradients1.jpg);
    height: 100vh;
}

#webpage-title {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    color: white;
	text-shadow: 0 0 10px #FFFFFF;
	text-align: center;
	font-size: 50pt;
	margin-top: 1vh;
}

#formDiv {
    margin-top: 10vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#formText {
    text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 25px;
    margin-bottom: 2px;
    margin-left: 55px;
}

.formInput {
    margin-bottom: 20px;
    width: 80%;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius: 12px;
    height: 35px;
    padding-left: 10px;
}

#signupBtn {
    margin-top: 30px;
    font-size: 30px;
    color: white;
    background-color: #ffdf80;
    padding: 12px 28px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}