#ProfilePage {
    background-image: url(../images/gradients3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

.profileInfon {
	padding-top: 20px;
}

#profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
}

#profilePic img {
    margin-left: auto;
	margin-right: auto;
	display: block;
}

#editImgBtn {
	margin-top: 7px;
    font-size: 18px;
    color: white;
    background-color: #ff88aa;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    float: right;
}

#editTriBtn {
	margin-top: 130px;
    font-size: 18px;
    color: white;
    background-color: #ff88aa;
    padding: 6px 19px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    float: right;
}

#eBtn {
	padding-right: 30%;
	padding-top: 20px;
}

#profileName, h4 {
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

#bold {
	font-weight: bold;
}

#question {
    padding-bottom: 10px;
}


.facts {
	text-align: left;
}

#list {
	text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.imgTd {
    width: 170px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    overflow-y: hidden;
}

.listImgMissing {
    width: 170px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    /*overflow-y: hidden;*/
    background-color: rgba(255,255,255,0.4);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.addList {
    width: 170px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    overflow-y: hidden;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.posterTitle {
    padding-top: 50px;
    color: grey;
    opacity: 0.8;
}

.bottom-center {
    height: 50px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 170px;
    text-align: center;

}

#returnHome {
    margin-top: 5px;
    color: white;
    text-shadow: 0 0 10px #FFFFFF;
    font-size: 15pt;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(224, 109, 104, 0.3); 
    border-radius: 7px;
}
