#ProfilePage {
    background-image: url(../images/gradients3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

.profileInfon {
	padding-top: 20px;
}

#profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
}

#profilePic img {
    margin-left: auto;
	margin-right: auto;
	display: block;
}

#listContainer {
    padding-bottom: 35px;
}

#editImgBtn {
	margin-top: 7px;
    font-size: 18px;
    color: white;
    background-color: #ff88aa;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    float: right;
}

#editTriBtn {
	margin-top: 130px;
    font-size: 18px;
    color: white;
    background-color: #ff88aa;
    padding: 6px 19px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    float: right;
}

#eBtn {
	padding-right: 30%;
	padding-top: 20px;
}

#profileName, h4 {
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

#bold {
	font-weight: bold;
}

#question {
    padding-bottom: 10px;
}


.facts {
	text-align: left;
}




/*Title*/
#list {
	text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.listImgMissing {
    width: 170px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    /*overflow-y: hidden;*/
    background-color: rgba(255,255,255,0.4);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.userListContainer {
    height: 240px;
    margin-top: 10px;
    margin-left: 10px;
}

.listImgContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 20%;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.2);
}

.imgWrapper {
    height: 224px;
    width: 150px;
}

.posterImg {
    width: 100%;
    max-height: 100%;
}

.posterFill {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    width: 200px;
    height: 200px;
}

.posterTextFill {
    color: white;
    padding-top: 45px;
    width: 130px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 0.5px 0.5px 2px grey;
}

.apiErrMsg {
    color: white;
    padding-top: 30px;
    width: 130px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-shadow: 0.5px 0.5px 2px grey;
}

.addList {
    width: 170px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    overflow-y: hidden;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.posterTitle {
    padding-top: 50px;
    color: grey;
    opacity: 0.8;
}

.titleText, .userText {
    height: auto;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0.5px 0.5px 2px grey;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 150px;
    height: auto;
}

#returnHome {
    margin-top: 5px;
    color: white;
    text-shadow: 0 0 10px #FFFFFF;
    font-size: 15pt;
}

/*Not logged in*/
#loginErrorContainer {
    margin-top: 20px;
    width: 100vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 10;
    text-align: center;
    display: none;
}

#loginErrorTitle {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 128, 191);;
    font-size: 80px;
    font-weight: bold;
    margin-top: 20vh;
}

#loginErrorParagraph {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 50vw;
    display: inline-block;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(224, 109, 104, 0.3); 
    border-radius: 7px;
}
