.profileInfo {
    text-align: center;
}

#profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#profileName {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 0px;
    color: black;
}

#profileName:hover {
    color: #ff5050;
}

#fakeProfile {
    width: 200px;
    height: 200px;
    background-color: grey;
    border-radius: 50%;
    margin-left: 65px;
    margin-top: 20px;
    opacity: 0.15;
}

#fakeUser {
    color: white;
    opacity: 0.7;
    margin-top: 20px;
    font-size: 140px;
}

#loginWarning {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 60px;
    width: 270px;
    color: grey;
    margin-top: 30px;
    opacity: 0.4;
}

#profileInf {
    font-family: 'Roboto', sans-serif;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#profileLists {
    height: 150px;
}

.profileListItem {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #828282;
}

.profileListItem:hover {
    cursor: pointer;
}