#mainpage {
    background-image: url(../images/gradients3.jpg);
    height: 100vh;
}

#webpage-title-small {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    color: white;
	text-shadow: 0 0 10px #FFFFFF;
	font-size: 30pt;
	margin-top: 1vh;
    text-align: right;
    padding-right: 60px;
}

#header {
    background-color: rgba(255, 224, 179, 0.5);
    height: 12vh;
}

#profilebar {
    background-color: rgba(255, 224, 179, 0.7);
    width: 30%;
    height: 88vh;
    float: right;
    padding: 0;
}

.searchBar {
    margin-top: 20px;
    width: 60%;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius: 12px;
    height: 35px;
    padding-left: 10px;
}

.searchbtn {
    padding-left: 7px;
    color: white;
}

::placeholder {
    color: white;
    text-shadow: 1px 1px 1px rgba(156,156,156,0.5);
}

#movieListDiv {
    height: 88vh;
    overflow-y: scroll;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(224, 109, 104, 0.3); 
    border-radius: 7px;
}