#profilepage {
    background-image: url(../images/gradients3.jpg);
    height: 100vh;
    overflow: auto;
}

#webpage-title {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    color: white;
	text-shadow: 0 0 10px #FFFFFF;
	font-size: 30pt;
	margin-top: 1vh;
    text-align: right;
    padding-right: 60px;
}

#header {
    background-color: rgba(255, 224, 179, 0.5);
    height: 12vh;
}

.pagetitle {
    text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 35px;
    margin-bottom: 2px;
    margin-left: 55px;
    padding-bottom: 3%;
}

/* BORTKOMMENTERAD PGA MÅSTE ANVÄNDA ID, annars får ALLA bilder denna styling */
/*
img {
    border: 1px solid #ddd;
    padding: 1px;
    width: 170px;
    height: 254px;
    margin: 10px;
    border-radius: 15px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} 
*/

.caption {
	font-size: 15px;
    font-weight: bold;
    padding-left: 25px;
}

#remove {
    position:absolute;
    bottom:0;
    right:0;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    float: right;
    background-color: #ff80bf;
}

#container {
  width: 70%;
  position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(224, 109, 104, 0.3); 
    border-radius: 7px;
}