#movieTitle {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    color: white;
	text-shadow: 0 0 10px #FFFFFF;
	text-align: left;
	font-size: 30pt;
    margin-left: 20px;
}

#descContainer{
    margin-top: 40px;
    margin-left: 40px;
}

#movieSpecs {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

#movieinf{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: none;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#moviePlot{    
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: none;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#movieplotP{
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

#posterContainer {
    margin-top: 40px;
}

.poster {
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    overflow-y: hidden;
}