#editpage {
    background-image: url(../images/gradients2.jpg);
    height: 100vh;
    overflow: auto;
}

#webpage-title {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    color: white;
	text-shadow: 0 0 10px #FFFFFF;
	font-size: 30pt;
	margin-top: 1vh;
    text-align: right;
    padding-right: 60px;
}

#header {
    background-color: rgba(211, 248, 244, 0.5);
    height: 12vh;
}

#profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff80bf;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 50%;
    display:block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    text-align: center;
}

#formDiv {
    margin-top: 5vh; 
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#formText {
    text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 20px;
    margin-bottom: 2px;
    margin-left: 55px;
}

.formInput {
    margin-bottom: 30px;
    width: 80%;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius: 12px;
    height: 35px;
    padding-left: 10px;
}

#submitBtn {
    margin-top: 15px;
    font-size: 20px;
    color: white;
    background-color: #ffdf80;
    padding: 12px 24px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#backBtn {
    margin-top: 15px;
    font-size: 20px;
    color: white;
    background-color: #ff80bf;
    padding: 12px 24px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(55, 180, 148, 0.4); 
    border-radius: 7px;
}