#ProfilePage {
    background-image: url(../images/gradients3.jpg);
    height: 100vh;
    overflow: auto;
}

.profileInfo {
	padding-top: 20px;
}

#editBtn {
	margin-top: 15px;
    font-size: 20px;
    color: white;
    background-color: #ff80bf;
    padding: 12px 24px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    float: right;
}

#eBtn {
	padding-right: 30%;
	padding-top: 20px;
}

#profileName, h4 {
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

#bold {
	font-weight: bold;
}

.facts {
	text-align: left;
}

#list {
	text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.addBtn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  font-size: 20px;
  color: white;
  background-color: #ff80bf;
  border: 2px solid white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#addBtnDiv {
	padding-top: 25%;
}

#add {
	padding-top: 10px;
}

#imgTd {
    width: 170px;
    height: 254px;
    margin: 10px;
    border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(224, 109, 104, 0.3); 
    border-radius: 7px;
}